<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lightning.lgc.core.dao.GarbageDao">
    <insert id="addCategory" parameterType="GarbageCategory">
        INSERT INTO garbage_category VALUES (#{gcId},#{gcName})
    </insert>

    <select id="getCategories" resultType="GarbageCategory">
        SELECT * FROM garbage_category
    </select>

    <delete id="delCategory" parameterType="Long">
        DELETE FROM garbage_category
        WHERE gc_id=#{id}
    </delete>

    <update id="updCategory" parameterType="GarbageCategory">
        UPDATE garbage_category
        SET gc_name=#{gcName}
        WHERE gc_id=#{gcId}
    </update>

    <insert id="addGarbage" parameterType="Garbage">
        INSERT INTO garbage VALUES (#{garbageId},#{garbageName})
    </insert>

    <insert id="addGarbageRelation" parameterType="Long">
        INSERT INTO garbage_garbage_category_relation VALUES(#{gcrId},#{garbageId},#{gcId})
    </insert>

    <select id="getGarbages" resultType="Garbage" parameterType="Object">
        SELECT g.garbage_id,g.garbage_name,gc.gc_id,gc.gc_name FROM garbage g
        LEFT JOIN garbage_garbage_category_relation gcr
        ON g.garbage_id=gcr.gcr_garbage_id
        LEFT JOIN garbage_category gc
        ON gc.gc_id=gcr.gcr_gc_id
        <choose>
            <when test="name!=null">
                WHERE g.garbage_name LIKE concat('%',#{name},'%')
            </when>
            <when test="category!=null">
                WHERE gc.gc_name=#{category}
            </when>
            <when test="num!=null">
                ORDER BY RAND() LIMIT #{num}
            </when>
        </choose>
    </select>

    <update id="updGarbage" parameterType="Garbage">
        UPDATE garbage
        SET garbage_name=#{garbageName}
        WHERE garbage_id=#{garbageId}
    </update>

    <update id="updGarbageRelation" parameterType="Garbage">
        UPDATE garbage_garbage_category_relation
        SET gcr_gc_id=#{gcId}
        WHERE gcr_garbage_id=#{garbageId}
    </update>

    <delete id="delGarbage" parameterType="Long">
        DELETE FROM garbage
        WHERE garbage_id=#{garbageId}
    </delete>

    <delete id="delGarbageRelation" parameterType="Long">
        DELETE FROM garbage_garbage_category_relation
        WHERE gcr_garbage_id=#{garbageId}
    </delete>
</mapper>